<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${good.getName()}">Title</title>
</head>
<body>

<p th:text="${good.getName()}"></p>
<p th:text="${good.getPrice()} +' рублей'"></p>
<p th:text="${good.getDescription()}"></p>
<p th:text="'Категория: '+${good.getCategory().getName()}"></p>
<img th:src="@{/good/image/{id}(id=${good.getId()})}" alt="Product Image" style="width:100px; height:100px;"/>

<form th:method="POST" th:action="@{/good/{id}(id=${good.getId()})}">
    <input type="submit" th:value="'Добавить '+${good.getName()}+' в корзину'"/>
</form>

<br>
<div>
    <div style="background: aquamarine" th:each="comment:${good.getComments()}">
        <p th:text="${comment.getText()}"></p>
        <p th:text="${comment.getStar()}"></p>
        <p th:text="${comment.getPerson().getUsername()}"></p>
    </div>
    <br>
</div>
<br>
<br>
<form th:method="POST" th:action="@{/comment/{id}(id=${good.getId()})}" th:object="${comment}">
    <label for="text">Enter text: </label>
    <input type="text" th:field="*{text}" id="text"/>
    <div style="color:red" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">text Error</div>
    <br/>
    <label for="star">Enter star: </label>
    <input type="text" th:field="*{star}" id="star"/>
    <div style="color:red" th:if="${#fields.hasErrors('star')}" th:errors="*{star}">star Error</div>
    <br/>
    <input type="submit" th:value="'Написать коммент'"/>
</form>

</body>
</html>